<h3>Offer Component</h3>

<table id="customers">
  <tr>
    <th>S N</th>
    <th>Custoemr Name</th>
    <th>email</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let customer of customerData">
    <td>{{ customer.customerId }}</td>
    <td>{{ customer.firstName }} {{ customer.lastName }}</td>
    <td>{{ customer.email }}</td>

    <td>
      <p
        *ngIf="
          customer.addressId >= 10 && customer.addressId <= 20;
          else other_content
        "
      >
        <button>Avail Offer</button>
      </p>
      <ng-template #other_content>
        <button>No Offer</button>
      </ng-template>
    </td>
  </tr>
</table>
