<h2>Customer-List</h2>

<table id="customers">
  <tr>
    <th>Sr. N.</th>
    <th>Customer Name</th>
    <th>Email</th>
  </tr>
  <tr *ngFor="let customer of customerData">
    <td>{{ customer.customerId }}</td>
    <td>{{ customer.firstName }} {{ customer.lastName }}</td>
    <td>{{ customer.email }}</td>
  </tr>
</table>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
